<h1>Roles</h1>
<div class="table">
    <table *ngIf="roles.length > 0 && !hasServerError">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let role of roles">
                <td>{{ role.id }}</td>
                <td>{{ role.name }}</td>
                <td><img src="../../../../../../assets/img/update.png" alt="update" (click)="update(role.id)"></td>
                <td><img src="../../../../../../assets/img/delete.png" alt="delete" (click)="delete(role.id)"></td>
            </tr>
        </tbody>
    </table>
    <span *ngIf="!hasServerError && roles.length === 0">No se ha encontrado información.</span>
    <span *ngIf="hasServerError" class="error-text">Ha ocurrido un error en el sistema, intente nuevamente mas tarde.</span>
</div>