<div class="container">
    <div class="info flex-column">
        <img src="../../../../assets/img/logo.png" alt="logo">
        <h1>MODULO REGISTRO DE RESULTADOS</h1>
        <h2>Elecciones al senado</h2>
    </div>
    <form [formGroup]="loginForm" class="form flex-column">
        <h1>Login</h1>
        <div class="field">
            <label for="username">Correo electrónico</label>
            <input #usernameInput type="text" name="username" formControlName="username">
        </div>
        <div class="field">
            <label for="password">Contraseña</label>
            <input #passwordInput type="password" name="password" formControlName="password">
        </div>
        <div>
            <button (click)="validateForm()">Ingresar</button>
        </div>
        <span #serverError class="error-text" hidden>Error en el sistema, intente de nuevo mas tarde.</span>
        <a routerLink="/security/register">Registrarse ahora</a>
    </form>
</div>