@import "../../../../variables";

h1 {
  text-align: center;
}

.box {
  padding-top: 70px;
  position: relative;
  width: 100vw;
  max-width: 90vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  .main-row {
    position: absolute;
    top: 50%;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    text-align: center;
    z-index: 2;
    background: $col-blue-five;
    color: #000;
    box-shadow: 0px 0px 6px #000;

    transition: background-color 0.2s;

    &:hover {
      background-color: $col-blue-four;
    }
  }

  .row-right {
    right: 10px;
  }

  .row-left {
    left: 10px;
  }

  .row-right,
  .row-left {
    img {
      width: 40px;
      margin-top: 10px;
    }
  }

  .carousel {
    position: relative;
    width: 100%; 
    height: 300px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      visibility: hidden;
    }

    .hide-scroll {
        display: flex;

        &:first-child {
          margin-left: 40px;
        }

        &:last-child {
          margin-right: 80px;
        }

      .party {
        width: 280px;
        height: 250px;
        margin-left: 40px;
        box-shadow: 0px 1px 6px #000;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .party-img {
          text-align: center;

          img {
            min-height: 80px;
            max-height: 80px;
          }
        }

        .party-info {
          border-top: 1px solid;
          margin-top: 5px;
          text-align: center;
          color: #000;

          .party-name {
            padding: 7px 0px;
            font-size: 20px;
          }

          .party-motto {
            padding: 7px 0px;
            font-size: 16px;
            background: $col-blue-five;
          }
        }

        .icons {
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          .table-button {
            padding: 5px;
            border: 1px solid transparent;
            border-radius: 100%;
            background-color: $col-blue-five;
            margin: 20px 10px 15px 10px;

            img {
              max-width: 20px;
            }
          }

          button {
            cursor: pointer;
          }
        }
      }
    }
  }
}