<h1>Mesas de elección - Crear</h1>
<form [formGroup]="createForm" class="form flex-column">
    <div class="field flex-field">
        <label for="numberIds">Número de votantes</label>
        <input #numberIdsInput type="number" formControlName="numberIds">
    </div>
    <div class="field flex-field">
        <label for="totalVotes">Total votos</label>
        <input #totalVotesInput type="number" formControlName="totalVotes">
    </div>
    <div class="field flex-field">
        <label for="departmentId">Departamento</label>
        <select #departmentIdInput type="number" name="departmentId" formControlName="departmentId" (change)="findCitiesByDepartments()">
            <option *ngFor="let department of departments" [value]="department.id">
                {{ department.name }}
            </option>
        </select>
    </div>
    <div class="field flex-field" *ngIf="departmentSelected">
        <label for="cityId">Ciudad</label>
        <select #cityIdInput type="number" name="cityId" formControlName="cityId">
            <option *ngFor="let city of cities" [value]="city.id">
                {{ city.name }}
            </option>
        </select>
    </div>
    <div class="flex-full">
        <button (click)="validateForm()">Crear</button>
    </div>
    <div class="flex-full">
        <span #serverError class="error-text" hidden>Error en el sistema, intente de nuevo más tarde.</span>
    </div>
    <div class="flex-full">
        <span #duplicatedError class="error-text" hidden>Mesa ya existente.</span>
    </div>
</form>