<h1>Mesas de elección - Crear</h1>
<form [formGroup]="createForm" class="form flex-column">
    <div class="field flex-field">
        <label for="numberIds">Número de votantes</label>
        <input #numberIdsInput type="number" formControlName="numberIds">
    </div>
    <div class="field flex-field">
        <label for="totalVotes">Total votos</label>
        <input #totalVotesInput type="number" formControlName="totalVotes">
    </div>
    <div class="flex-full">
        <button (click)="validateForm()">Crear</button>
    </div>
    <div class="flex-full">
        <span #serverError class="error-text" hidden>Error en el sistema, intente de nuevo más tarde.</span>
    </div>
    <div class="flex-full">
        <span #duplicatedError class="error-text" hidden>Mesa ya existente.</span>
    </div>
</form>