<nav class="header flex-row">
  <img src="../../../../../assets/img/logo.png" alt="logo" routerLink="/dashboard/user"/>
  <ul class="ul flex-row">
    <li class="li flex-row">
      <a class="no-pointer">Usuarios</a>
      <ul class="ul-submenu">
        <li class="suboption"><a routerLink="/dashboard/user">Buscar</a></li>
        <li class="suboption"><a routerLink="/dashboard/user/create">Crear</a></li>
      </ul>
    </li>
    <li class="li flex-row">
      <a class="no-pointer">Roles</a>
      <ul class="ul-submenu">
        <li class="suboption"><a routerLink="/dashboard/role">Buscar</a></li>
        <li class="suboption"><a routerLink="/dashboard/role/create">Crear</a></li>
      </ul>
    </li>
    <li class="li flex-row">
      <a class="no-pointer">Mesas</a>
      <ul class="ul-submenu">
        <li class="suboption"><a routerLink="/dashboard/election-table">Buscar</a></li>
        <li class="suboption"><a routerLink="/dashboard/election-table/create">Crear</a></li>
      </ul>
    </li>
    <li class="li flex-row">
      <a class="no-pointer">Partidos</a>
      <ul class="ul-submenu">
        <li class="suboption"><a routerLink="/dashboard/party">Buscar</a></li>
        <li class="suboption"><a routerLink="/dashboard/party/create">Crear</a></li>
      </ul>
    </li>
    <li class="li flex-row">
      <a class="no-pointer">Candidatos</a>
      <ul class="ul-submenu">
        <li class="suboption"><a routerLink="/dashboard/candidate">Buscar</a></li>
        <li class="suboption"><a routerLink="/dashboard/candidate/create">Crear</a></li>
      </ul>
    </li>
    <li class="li flex-row">
      <a class="no-pointer" routerLink="/dashboard/results/result">Resultados</a>
      <ul class="ul-submenu">
        <li class="suboption"><a routerLink="/dashboard/result">Buscar</a></li>
        <li class="suboption"><a routerLink="/dashboard/result/create">Registrar</a></li>
      </ul>
    </li>
    <li class="li flex-row">
      <a class="no-pointer">Mi cuenta</a>
      <ul class="ul-submenu">
        <li class="suboption no-action"><a>{{ email }}</a></li>
        <li class="suboption no-action"><a>{{ role }}</a></li>
        <li class="suboption"><a routerLink="/security/login" (click)="logout()">Salir</a></li>
      </ul>
    </li>
  </ul>
</nav>
