@import "../../../../../../variables";

h1 {
    text-align: center;
}

.info, .form {
    padding-block: 25px;
}

.info {
    margin-bottom: 20px;
    gap: 10px;
    width: 100%;

    img {
        max-width: 250px;
    }
}

.form {
    margin-top: 20px;
    margin: auto;
    box-shadow: 1px 1px 5px 1px;
    width: 90%;
    gap: 10px;

    a {
        color: $col-text-secondary;
    }
}

@media (min-width: 992px) {

    .container {
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .info {
        width: 40%;
    }

    .form {
        width: 50%;
        padding-inline: 40px;
        flex-direction: row;
        flex-wrap: wrap;
        
        .field {
            min-width: 260px;
        }

        .flex-full {
            flex: 1 1 70%;
            text-align: center;
        }
        
        .flex-field {
            flex: 1 1 40%;
        }
    }

}