<div class="container">
    <div class="info flex-column">
        <img src="../../../../assets/img/logo.png" alt="logo">
        <h1>MODULO REGISTRO DE RESULTADOS</h1>
        <h2>Elecciones al senado</h2>
    </div>
    <form [formGroup]="registerForm" class="form flex-column">
        <h1 class="flex-full">Registro</h1>
        <div class="field flex-field">
            <label for="documentType">Tipo de documento</label>
            <select #documentTypeInput type="text" name="documentType" formControlName="documentType">
                <option *ngFor="let docType of documentTypes" [value]="docType.prefix">
                    {{ docType.name }}
                </option>
            </select>
        </div>
        <div class="field flex-field">
            <label for="documentNumber">No. Documento</label>
            <input #documentNumberInput type="text" name="documentNumber" formControlName="documentNumber">
        </div>
        <div class="field flex-field">
            <label for="name">Nombre/s</label>
            <input #nameInput type="text" name="name" formControlName="name">
        </div>
        <div class="field flex-field">
            <label for="lastName">Apellido/s</label>
            <input #lastNameInput type="text" name="lastName" formControlName="lastName">
        </div>
        <div class="field flex-field">
            <label for="username">Correo electrónico</label>
            <input #usernameInput type="text" name="username" formControlName="username">
        </div>
        <div class="field flex-field">
            <label for="password">Contraseña</label>
            <input #passwordInput type="password" name="password" formControlName="password">
        </div>
        <div class="field flex-field">
            <label for="confirmPassword">Confirmar contraseña</label>
            <input #confirmPasswordInput type="password" name="confirmPassword" formControlName="confirmPassword">
        </div>
        <div class="flex-full">
            <button (click)="validateForm()">Crear</button>
        </div>
        <span #serverError class="error-text" hidden>Error en el sistema, intente de nuevo más tarde.</span>
        <span #passwordError class="error-text" hidden>Las contraseñas no coinciden.</span>
        <span #duplicatedError class="error-text" hidden>Usuario ya existente, proceda a iniciar sesión.</span>
        <a routerLink="/security/login" class="flex-full">Ya tengo una cuenta</a>
    </form>
</div>