$col-blue-one: #12477d;
$col-blue-two: #155391;
$col-blue-three: #5486b8;
$col-blue-four: #84a9ce;
$col-blue-five: #cadaea;
$col-error: #ff8780;
$col-warn: #f9c368;
$col-text-primary: #ffffff;
$col-text-secondary: #000000;